{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
    <div class="row mt-5">
        <div class="col-md-3 col-sm-6">
            <a href="{% url 'home' %}"><i class="fa-solid fa-arrow-left-long fa-2xl text-black"></i></a>
        </div>
    </div>
    <div class="row justify-content-center mt-3">
        <div class="col-md-5 col-sm-12 border-bottom">
            <p><strong><a href="{% url 'profile' user.profile.pk %}" style="text-decoration: none;">{{ post.author }}</a></strong> {{ post.created_on }}</p>
            <p>{{ post.body }}</p>
            <a href="{% url 'post-edit' post.pk %}"><i class="fa-solid fa-pen-to-square"></i></a>
            <a href="{% url 'post-delete' post.pk %}" style="color: red;"><i class="fa-solid fa-trash-can"></i></i></a>
        </div>
    </div>

    <div class="row justify-content-center mt-3">
        <div class="col-md-5 col-sm-12">
            <h5>Add a Comment!</h5>
        </div>
    </div>
    <div class="row justify-content-center mt-3 mb-5">
        <div class="col-md-5 col-sm-12">
            <form method="POST">
                {% csrf_token %}
                {{ form | crispy }}
                <div class="d-grid gap-2">
                    <button class="btn btn-primary mt-3">Submit!</button>
                </div>
            </form>
        </div>
    </div>
    {% for comment in comments %}
    <div class="row justify-content-center mt-3 mb-5 border-bottom">
        <div class="col-md-5 col-sm-12">
            <p>
                <strong><a href="{% url 'profile' user.profile.pk %}" style="text-decoration: none;">{{ comment.author }}</a></strong> {{ comment.created_on }}
            </p>
            <p>{{ comment.comment }}</p>
            {% if request.user == comment.author %}
            <a href="{% url 'comment-delete' post.pk comment.pk %}" style="color: red;"><i
                    class="fas fa-trash"></i></a>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}